.container {
  max-width: 650px;
  padding-top: 3rem;

  .alert {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 100, 0, 0.1);
    
    .bg-light {
      background-color: rgba(0, 0, 0, 0.03) !important;
    }
  }
}