.header-container {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 0.5rem; /* Rounded borders */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Soft shadow */
}

.business-name {
  font-family: 'Montserrat', sans-serif;
  color: #343a40; /* Dark gray */
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.divider-line {
  width: 50%; /* Half the width of its container */
  height: 2px;
  background-color: rgba(255, 0, 0, 0.3); /* Thin, slightly transparent red */
  margin: 0.5rem auto; /* Center the line and add some vertical space */
}

.business-tagline {
  font-family: 'Montserrat', sans-serif;
  color: #6c757d; /* Medium gray */
  font-size: 1.6rem;
  font-weight: 400;
  display: block; /* Ensures it's on a new line */
}

.small-icon-link {
  font-size: 1.2rem; /* Tamaño del icono */
  color: #007bff; /* Color del icono, puedes ajustarlo */
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #0056b3; /* Color al pasar el ratón */
  }
}

.whatsapp-icon {
  color: #25D366; /* Color verde de WhatsApp */

  &:hover {
    color: #1DA851; /* Un verde un poco más oscuro al pasar el ratón */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .business-name {
    font-size: 2rem;
  }
  .business-tagline {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {
  .business-name {
    font-size: 1.5rem;
  }
  .business-tagline {
    font-size: 1rem;
  }
  .divider-line {
    width: 70%; /* Adjust line width for smaller screens */
  }
  .list-group-item span:not(.text-muted) {
    font-size: 0.85rem; /* Reducir fuente para el horario en móviles */
  }
}
