<div class="container mt-4">
    <img src="assets/pixelnova-logo-gris-rojo-sin-fondo.png" alt="Pixelnova Logo" class="d-block mx-auto mb-4" style="max-width: 200px;">

  
    <div *ngIf="!isLoading">
      <!-- <div class="mb-4 text-end">
        <button class="btn btn-outline-secondary" (click)="toggleView()">
          Cambiar a vista {{ isAdmin ? 'Usuario' : 'Admin' }}
        </button>
      </div> -->
    
      <!-- Mostrar solo el componente según la ruta -->
      <app-booking-admin *ngIf="isAdmin"></app-booking-admin>
      <app-booking-user *ngIf="!isAdmin" [fechasBloqueadas]="fechasBloqueadas"></app-booking-user>
    </div>

    <div *ngIf="isLoading" class="text-center py-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <p class="mt-2">Cargando datos del sistema...</p>
    </div>
</div>